.top a:hover {
  text-decoration: underline;
}

.wrapper_lk {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100hv;
  background-color: #FFFFFF;
}

.lk_left, .lk_right{
  width: 90%;
  height: 895px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar{
  width: 400px;
  height: 400px;
  border: 8px solid dimgray;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
  margin-top: 30px;
  padding: 50px;
}.fead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }.user_datas{
  width: 100%;
  height: 400px;
  background-color: #6DC9F7;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}.user_data{
  width: 600px;
  height: 90%;
  background-color: #0188ED;
  border-radius: 60px;
}.user_data2{
  width: 50%;
  height: 100%;
}
.udata_wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}.helper_lk{
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0);
}
.butt_accept{
  width: 280px;
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0188ED;
  border-radius: 40px;
}
.change_pass{
  font-size: 36px;
  line-height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000000;
}
.form_pass{
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

